/* base */

@font-face {
    font-family: 'business-blooming'; /* The name of the font */
    src: url('../fonts/Business Blooming Trial Trial.otf') format('opentype'); /* Path to the font file */
}

@font-face {
    font-family: 'yorick-bold'; /* The name of the font */
    src: url('../fonts/YorickTrial-Bold.otf') format('opentype'); /* Path to the font file */
}

@font-face {
    font-family: 'yorick-regular'; /* The name of the font */
    src: url('../fonts/YorickTrial-Regular.otf') format('opentype'); /* Path to the font file */
}

:root {
    --background-color: #F0EEE7; /* Replace with your original color */
    --primary-color: #ee4122; /* Replace with your original color */
    --primary-color-hover: #AD341E; /* Replace with your original color */
    --secondary-color: #4C8B4B; /* Replace with your desired color */
    --secondary-color-hover: #316231; /* Replace with your desired color */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    background-color: var(--background-color);
    transition: background-color 0.3s ease;
}

body.menu-open {
    background-color: var(--primary-color);
  }

.wrapper {
    width: 100%;
    flex: 1;
}

.container {
    display: grid;
    width: 100%;
    row-gap: clamp(2rem, 0.5915rem + 6.0094vw, 6rem);
    padding-left: clamp(1.5rem, -0.0845rem + 6.7606vw, 6rem);
    padding-right: clamp(1.5rem, -0.0845rem + 6.7606vw, 6rem);
    padding-bottom: clamp(1.5rem, -0.0845rem + 6.7606vw, 6rem);
}

.container-1 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
    padding-top: clamp(1.5rem, -0.0845rem + 6.7606vw, 6rem);
}

.container-2 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    padding-top: clamp(6rem, 3.1831rem + 12.0188vw, 14rem);

}

.container-3 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    padding-top: clamp(6rem, 3.1831rem + 12.0188vw, 14rem);
}

.item {
}

.item-1-1 {
    grid-row: 1 / 1;
    grid-column: 1 / 3;
}

.item-1-2 {
    grid-row: 2 / 2;
    grid-column: 1 / 3;
}

.item-1-3 {
    grid-row: 3 / 3;
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    row-gap: clamp(1.5rem, 1.1479rem + 1.5023vw, 2.5rem);
}

.item-1-4 {
    grid-row: 4 / 4;
    grid-column: 1 / 3;
}

.item-1-5 {
    grid-row: 5 / 5;
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    row-gap: clamp(1.5rem, 1.1479rem + 1.5023vw, 2.5rem);
}

.item-1-6 {
    grid-row: 6 / 6;
    grid-column: 1 / 3;
}

.item-1-2-1 {
    grid-row: 1 / 1;
    grid-column: 1 / 2;
}

.item-1-2-2 {
    grid-row: 2 / 2;
    grid-column: 2 / 3;
}

.item-2-1 {
    grid-row: 1 / 1;
    grid-column: 1 / 3;
    max-width: 1040px;
    justify-self: center;
}

.item-2-2 {
    grid-row: 2 / 2;
    grid-column: 1 / 3;
}

.item-2-3 {
    grid-row: 3 / 3;
    grid-column: 1 / 3;
}

.item-3-1 {
    grid-row: 1 / 1;
    grid-column: 1 / 3;
    max-width: 880px;
    justify-self: center;
}

.item-3-2 {
    grid-row: 2 / 2;
    grid-column: 1 / 3;
    display: grid;
    justify-content: center;
}

.item-3-3 {
    grid-row: 3 / 3;
    grid-column: 1 / 3;
    display: grid;
    justify-content: center;
}

/* navbar styles */
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* Ensure it stays on top of other content */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: clamp(1.5rem, -0.0845rem + 6.7606vw, 6rem);
    padding-left: clamp(1.5rem, -0.0845rem + 6.7606vw, 6rem);
    padding-right: clamp(1.5rem, -0.0845rem + 6.7606vw, 6rem);
/*  background-color: var(--background-color); */ 
}

  
/* .navbar.menu-active { */
/* background-color: #ee4122; Change the background color to red */
/* transition: background-color 0.3s ease-in-out; Smooth transition effect */
/* } */

.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo {
    margin-left: auto; /* Push the logo to the far right */
    display: flex;
    align-items: center; /* Ensure vertical alignment */
    justify-content: right;
    height: 48px;
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .logo svg {
    fill: var(--primary-color); /* Default red color */
    transition: fill 0.3s ease-in-out;
}

.navbar .logo svg.active {
    fill: var(--background-color); /* White color when active */
}

.hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.hamburger:hover {
}

.hamburger div {
    width: 24px;
    height: 2px;
    background-color: var(--primary-color);
    margin: 4px 0;
    transition: 0.3s;
}

.hamburger:hover div {
    background-color: var(--primary-color-hover); /* Change color on hover */
}

.hamburger.active div {
    background-color: var(--background-color);
}

.navbar .header {
    text-align: center;
    color: var(--primary-color);
    transition: color 0.3s, opacity 0.3s;
    flex-grow: 1; /* Allows the header to take up remaining space */
    text-align: center; /* Center the text */
}

.navbar .header.hidden {
    opacity: 0;
    pointer-events: none;
}

.navbar .header.active {
    color: var(--background-color);
}

#header {
    transition: opacity 0.5s ease-in-out;
}

@media (max-width: 768px) {

    .container-1 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, auto);
        padding-top: clamp(6rem, 3.1831rem + 12.0188vw, 14rem);
    }

    .navbar-content {
        justify-content: space-between; /* Keep everything aligned on smaller screens */
    }

    .header {
        display: none; /* Already hidden as per your current design */
    }



    .item-1-3 {
        grid-row: 3 / 3;
        grid-column: 1 / 3;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        row-gap: clamp(1.5rem, 1.1479rem + 1.5023vw, 2.5rem);
    }
    
    .item-1-5 {
        grid-row: 5 / 5;
        grid-column: 1 / 3;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        row-gap: clamp(1.5rem, 1.1479rem + 1.5023vw, 2.5rem);
    }

    .item-1-2-1 {
        grid-row: 1 / 1;
        grid-column: 1 / 2;
    }
    
    .item-1-2-2 {
        grid-row: 2 / 2;
        grid-column: 2 / 3;
    }

}

@media (max-width: 400px) {

    .item-1-1 {
        grid-row: 1 / 1;
        grid-column: 1 / 3;
        
    }


    .item-1-3 {
        grid-row: 3 / 3;
        grid-column: 1 / 3;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        row-gap: clamp(1.5rem, 1.1479rem + 1.5023vw, 2.5rem);
    }
    
    .item-1-5 {
        grid-row: 5 / 5;
        grid-column: 1 / 3;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        row-gap: clamp(1.5rem, 1.1479rem + 1.5023vw, 2.5rem);
    }

    .item-1-2-1 {
        grid-row: 1 / 1;
        grid-column: 1 / 2;
    }
    
    .item-1-2-2 {
        grid-row: 2 / 2;
        grid-column: 2 / 3;
    }
  }


.menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    opacity: 0; /* Start fully transparent */
    visibility: hidden; /* Make it non-interactable when hidden */
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    padding-left: clamp(1.5rem, -0.0845rem + 6.7606vw, 6rem);
    padding-right: clamp(1.5rem, -0.0845rem + 6.7606vw, 6rem);
    padding-bottom: clamp(1.5rem, -0.0845rem + 6.7606vw, 6rem);
    padding-top: clamp(6rem, 3.1831rem + 12.0188vw, 14rem);
}

.item-thewedding {
    grid-row: 1 / 1;
    grid-column: 1 / 3;
    justify-content: left;
}

.item-accommodations {
    grid-row: 2 / 2;
    grid-column: 1 / 3;
    justify-content: center;
}

.item-aboutus {
    grid-row: 3 / 3;
    grid-column: 1 / 3;
    justify-content: right;
}

.item-copyright {
    grid-row: 4 / 4;
    grid-column: 1 / 3;
    justify-content: center;
    align-content: end;
}

.menu.active {
    opacity: 1; /* Fade in */
    visibility: visible; /* Make it interactable */
}

.menu a {
    color: var(--background-color);
    text-decoration: none;
    margin: 1rem 0;
    transition: color 0.3s;
}


a {
    color: var(--primary-color);
}

a:hover {
    color: var(--primary-color-hover);
}

/* footer styles */

.footer {
    width: 100%;
    margin: clamp(1.5rem, -0.0845rem + 6.7606vw, 6rem);
}

.item-13 {
    display: flex;
    justify-content: center;
    column-gap: clamp(0.25rem, 0.0739rem + 0.7512vw, 0.75rem);
}

/* main styles */

ul.suggested-links {
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: clamp(0.8rem, 0.6415rem + 0.6761vw, 1.25rem);
    line-height: 1.4;
    font-family: "yorick-regular", serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-transform: uppercase;
    color: var(--primary-color);
}

.suggested-links a {
    color: var(--primary-color);
    text-decoration: none;
}

.suggested-links a:hover {
    color: var(--primary-color-hover);
    transition: all 0.24s ease;
}

.cta-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    color: var(--primary-color);
    font-size: clamp(0.8rem, 0.7296rem + 0.3005vw, 1rem);
    line-height: 1.4;
    font-style: normal;
}

h1 {
    color: var(--primary-color);
    font-size: clamp(0.8rem, 0.6415rem + 0.6761vw, 1.25rem);
    line-height: 1.4;
    font-style: normal;
}

h2 {
    color: var(--primary-color);
    font-size: clamp(4rem, 2.5915rem + 6.0094vw, 8rem);
    font-style: normal;
}

.lowercase {
    text-transform: none;
}

.uppercase {
    text-transform: uppercase;
}

.regular {
    font-family: "yorick-regular", serif;
}

.bold {
    font-family: "yorick-bold", serif;
}

.script {
    font-family: "business-blooming", serif;
    line-height: 0;
}

.centered {
    text-align: center
}

.leftaligned {
    text-align: left;
}

.rightaligned {
    text-align: right;
}

.whitetext {
    color: var(--background-color);
}

button[type="button"] {
    padding: 12px 24px;
    background: none;
    color: var(--primary-color);
    font-size: clamp(0.8rem, 0.7296rem + 0.3005vw, 1rem);
    font-family: "yorick-bold", serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid var(--primary-color);
    border-radius: 2px;  /* Rounded corners */
    cursor: pointer;  /* Pointer on hover */
    transition: all 0.24s ease;  /* Smooth transition */
    
}

button[type="button"]:hover {
    border: 1px solid var(--primary-color-hover);
    color: var(--primary-color-hover);
    transition: all 0.24s ease;
}

.my-image {
    width: clamp(16rem, 9.3099rem + 28.5446vw, 35rem);
    transition: transform 0.3s ease; /* Optional smooth animation */
}
