/* base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1; /* This ensures the content area expands to fill available space */
    margin: 16px;
    
}

/* navbar styles */
.navbar {
    color: black;
    margin-left: 16px;
    margin-right: 16px;
}

.nav-links {
    display: flex;
    /* justify-content: space-between; */
    justify-content: center; /* Centers items horizontally */
    gap: 40px; /* Adds 40px spacing between items */
    list-style: none;
    margin-top: 40px;
}

.nav-links a {
    color: black;
    text-decoration: none;
    text-transform: uppercase; 
}

.nav-links a:hover {
    color: rgba(0, 0, 0, .48);
    transition: all 0.24s ease;
}

.menu-button {
    display: none;
    background: none;
    border: none;
    width: 100%;
    height: 16px;
    position: relative;
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 8px;
}

.menu-button::before, .menu-button::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: black;
    position: absolute;
    left: 0;
    /*  transition: all 0.16s ease-in; */ 
}

.menu-button::before {
    top: 8px;
}

.menu-button::after {
    top: 20px;
}

.menu-button.active::before {
    top: 14px;
}

.menu-button.active::after {
    top: 14px;
}

@media (max-width: 768px) {

    .menu-button {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .nav-links li {
        text-align: center;
        padding: 0px;
    }

    .nav-links.show {
        display: flex;
    }
    
}

/* main styles */

.text-block-01 {
    padding-top: 24px;
}

.text-block-02 {
    padding-top: 16px;
}

ul.suggested-links {
    list-style-type: none;
    font-size: 16px;
    line-height: 21px;
    font-family: "Times New Roman", Times, serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.suggested-links a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.suggested-links a:hover {
    color: rgba(0, 0, 0, .48);
    transition: all 0.24s ease;
}

.cta-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

p {
    color: #000000;
    font-size: 16px;
    line-height: 21px;
    font-family: "Times New Roman", Times, serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
}

button[type="button"] {
    padding: 12px 24px;
    background: none;
    color: #000000;
    font-size: 16px;
    line-height: 21px;
    font-family: "Times New Roman", Times, serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid black;
    border-radius: 2px;  /* Rounded corners */
    cursor: pointer;  /* Pointer on hover */
    transition: all 0.24s ease;  /* Smooth transition */
}

button[type="button"]:hover {
    border: 1px solid rgba(0, 0, 0, .24);
    color: rgba(0, 0, 0, .80);
    transition: all 0.24s ease;
}

/* footer styles */
.footer {
    text-align: center;
    margin: 16px;
}

/* password page */
.wrapper-02 {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center;     /* Vertically center */
}

.password-container {
    margin: 16px;
    border-radius: 0px;
    text-align: center;
    width: 100%;
    /* max-width: 240px; Max width for responsiveness */
}

.password-container h2 {
    margin-bottom: 20px;
}

.password-container input {
    color: #000000;
    font-size: 16px;
    line-height: 21px;
    font-family: "Times New Roman", Times, serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    border: none; /* Remove all borders */
    margin-top: 16px;
    width: 100%;
    outline: none; /* Remove the outline on focus */
    /* border-radius: 2px; */
    /* border-bottom: 1px solid black; Add a solid bottom border */
}

.password-container button {
    padding: 12px 24px;
    background: none;
    color: #000000;
    font-size: 16px;
    line-height: 21px;
    font-family: "Times New Roman", Times, serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid black;
    border-radius: 2px;  /* Rounded corners */
    cursor: pointer;  /* Pointer on hover */
    transition: all 0.24s ease;  /* Smooth transition */
}

.password-container button:hover {
    border: 1px solid rgba(0, 0, 0, .24);
    color: rgba(0, 0, 0, .80);
    transition: all 0.24s ease;
}

/* random-image */
#random-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.centered-image {

}

img {

}
